---
layout: blog
title: Blog Marketing
description: Dive into the world of email marketing, nurturing relationships with your subscribers and converting them into loyal customers.
img: assets/images/social/home.jpg
image: assets/images/social/home.jpg
custom-head:
type: 'article'
---
<main id="content" role="main" class="main md-flex flex-wrap items-start">
  <section class="commerce-blog-wrapper col-12 md-col-8 px2 pt2 pb3 md-px4 md-pt1 md-pb3">
      <h1 class="xs-hide sm-hide md-commerce-header h3 md-py2 md-mb4">Blog Marketing</h1>
      <p class="mb2">Dive into the world of email marketing, nurturing relationships with your subscribers and converting them into loyal customers.</p>

  {% for post in site.posts %}

    <article>
      <div class="mb3 md-mx0">
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}"><h2 class="h3">{{ post.title }}</h2></a>        
        <p class="mb2">{{ post.description | remove: '<p>' | remove: '</p>' }}</p>
        
      </div>
  {% if post.image %}
      <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
      <amp-img class="mb3" src="{{ post.image }}" srcset="{{ post.image }} 750w,{{ post.image }} 1280w" width="750" height="427" layout="responsive" alt="No sleep &#39;til Brooklyn" noloading="">
      <div placeholder="" class="commerce-loader"></div>  </amp-img> </a>
  {% endif %}
  <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="ampstart-btn ampstart-btn-secondary caps md-mb2">
    Read Post
</a>
  

      </article>
  {% endfor %}        
  </section>
  {% include blocks/aside.html %}
</main>